---
import PokemonCard from '@components/pokemons/PokemonCard.astro';
import Title from '@components/shared/Title.astro';
import type { IPokemonResponse } from '@interfaces/pokemon.interface';
import Layout from '@layouts/Layout.astro';

const title = 'Pokémons Static | Home';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = (await resp.json()) as IPokemonResponse;
---

<Layout title={title}>
  <Title>Listado de Pokémons</Title>
  <section
    aria-label='Listado de Pokémons '
    class='grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4'>
    {
      data.results.map(({ name, url }) => (
        <PokemonCard name={name} url={url} />
      ))
    }
  </section>
</Layout>
